.divimageloc{
    width: 30px;
    height: 30px;
}
.address-p{
    margin: 0 ;
}
.divaddre{
    display: flex;
    margin: 30px 10px;
}
.divaddre i{
    position: relative;
    display: block;
    margin: 15px 25px 15px 0px;
}
.imgfb{
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 20px;
}
.fa-2xl {
    font-size: 3em;
    line-height: 1.03125em;
    margin-bottom: 10px;
}
.imgnews{
    width: 130px;
}
.elementor-field-textual.elementor-size-lg {
    font-size: 18px;
    min-height: 59px;
    padding: 7px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.div_nehaimage{
    width: 25%;
    padding: 20px;
}
.div-abouttext p {
    text-align: justify;
}
.div-abouttext{
    width: 90%;
    padding: 20px;
}
.div-imgwedo{
    height: 170px;
    object-fit: contain;
}
.divteam{
    width: 100%;
    margin: 20px 0;
    display: flex;
}
@media only screen and (max-width:425px){
    .div_nehaimage{
        width: 100%;
        padding: 10px;
    }
    .div-abouttext{
        width: 100%;
        padding: 10px;
    }
    .divteam{
        display: block;
    }
    .divaddre{
        display: flex;
        margin: 10px 10px;
    }
}
.div-cenete{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

select {  
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
    background-position: right 20px center;
    background-repeat: no-repeat;
    background-size: auto 40%;
    border-radius:2px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand { display: none };
}


.flip-card {
    background-color: transparent;
    height: 280px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotatex(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #1abc9c;
    padding: 50px;
    color: white;
}
.flip-card-back {
    background-color: #4054b2;
    color: white;
    padding: 50px;
    transform: rotatex(180deg);
}
.img-flip{
    margin-bottom: 20px;
}
.pcolo{
    color: white;
    font-size: 13px;
    margin: 0;
}
.border-color {
    border-color: #212121 !important;
}