body.elementor-kit-8966 a{color:#000000;}body.elementor-kit-8966 a:hover{color:#4054B2;}
/*
     FILE ARCHIVED ON 17:13:07 Sep 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:58:33 Feb 09, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.241
  exclusion.robots.policy: 0.227
  cdx.remote: 0.117
  esindex: 0.01
  LoadShardBlock: 133.647 (6)
  PetaboxLoader3.datanode: 134.837 (7)
  load_resource: 25.664
*/