* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --blue: #1f2a83;
  --hero: #eae8dd;
}

body {
  font-family: "Suwannaphum";
}

.ca_container {
  max-width: 1172px;
  margin-right: auto;
  margin-left: auto;
}

.bg_white {
  background-color: #fff !important;
}

.sticky_header {
  padding: 15px 0;
}

.sticky_header .nav-item .nav-link,
.sticky_header .dropdown-toggle,
.sticky_header .dropdown-toggle:hover,
.sticky_header .navbar-brand {
  padding: 6px 20px;
  font-weight: 500;
  color: var(--black) !important;
  font-size: 14.5px;
  letter-spacing: 0.4px;
}

.sticky_header {
  background: #eae8dd !important;
  transition: all 0.3s ease-in-out;
}

.active_nav {
  background: white !important;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6196078431372549);
  border-radius: 25px 25px 25px 25px;
  padding-block: 0;
  overflow: hidden;
}

.dropdown-menu .dropdown-item {
  color: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #fff;
}

.dropdown-menu .dropdown-item:hover {
  color: #000;
}

.sticky_header .navbar-brand img {
  height: 52px;
}

.mobile_logo {
  display: none;
}
.navbar {
  transition: background-color 0.3s;
}

.navbar.scrolled {
  background-color: white !important;
}

.hero-section {
  background-color: var(--hero);
  display: block;
  padding: 60px 0px;
  max-height: calc(100vh - 85px);
}

.hero-section h1 {
  color: var(--blue);
  font-size: 33.6px;
  font-weight: 700;
  line-height: 1.4em;
}

.hero-section p {
  color: var(--blue);
  font-size: 16px;
}
.hero-div {
  display: flex;
  height: 90vh;
  flex-direction: column;
}
.hero-top-div {
  height: 30%;
  flex-basis: 30%;
}
.heroimg {
  height: 60%;
  flex-basis: 60%;
  width: fit-content;
  margin-left: 50px;
  display: flex;
  align-self: center;
}

.ca_button {
  padding: 15px 30px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #6c7cfb;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.us_img {
  width: 85%;
  height: auto;
  margin: 0 auto;
}

.small-heading {
  color: var(--blue);
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
}

.py-60 {
  padding: 45px 0;
}

.tax_section {
  background-color: #fffcf4;
}

.time_focus {
  background-color: var(--hero);
}

.connect_now {
  background-color: #8e8d89;
  background-image: url("");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25% auto;
  padding: 50px 0 57px;
}

.connect_now h3 {
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.1em;
}

.connect_now p {
  color: #ffffff;
}

.ca_footer {
  padding: 50px 0px 20px;
  display: block;
}

.ca_footer h5 {
  font-weight: 600;
  color: #202020;
  font-size: 13px;
}

.ca_footer ul {
  padding: 0;
  list-style-type: none;
  color: #1f2a83;
}

.ca_footer ul li a {
  color: #2f3034;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.9em;
}

.ca_footer ul li:not(:last-child) {
  padding-bottom: calc(8px / 2);
}

.ca_footer ul li:hover a {
  color: #4054b2;
}

.ca_footer .copyright a,
.ca_footer .copyright {
  color: #b7b4b4;
  font-size: 13px;
  text-decoration: none;
}

.books_section {
  background-color: #d8c3a6;
  position: relative;
  display: block;
}

.books_section .small-heading {
  font-size: 33.6px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 25px;
}

.books_section .acc_man {
  position: absolute;
  right: 0%;
  bottom: -75%;
  width: 42%;
  z-index: 1;
}

.books_section .rupee {
  display: block;
  position: absolute;
  left: 50px;
  top: 20%;
  height: 100%;
  opacity: 80%;
  z-index: 10;
}

.books_section .rupee img {
  height: 100%;
}

.books_section span,
.data_section span,
.time_focus span,
.tax_section span {
  color: #1f2a83;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.data_section {
  background-color: #fbe5b4;
  margin-top: 100px;
}

.bg_coffe {
  background-color: #8e8d89;
  border-radius: 30px;
  display: flex;
}

.data_section .bg_coffe img {
  height: auto;
  margin: 0 auto;
  width: auto;
}

/* toggle */
.copyright a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

/* slider  */
.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.marquee {
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-content {
  display: flex;
  animation: scroll 10s linear infinite;
}

.marquee-content img {
  margin: 0 30px;
  height: 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bg_imaage_shape {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bg_imaage_shape svg .elementor-shape-fill {
  fill: #d8c3a6;
  transform-origin: center;
  height: 128px;
  transform: translateX(0%) rotateY(180deg);
}

.bg_imaage_shape svg {
  height: 128px;
  transform: translateX(-50%) rotateY(180deg);
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.services_work_detail img {
  width: 70px;
  height: 70px;
}

.services_work_detail h5 {
  color: #36408e;
  font-size: 22px;
  font-weight: 700;
}

.services_work_detail h6,
.tax_detail h6 {
  color: #36408e;
  font-size: 16px;
  font-weight: 700;
}

.services_work_detail p,
.tax_detail p {
  color: #36408e;
  font-size: 16px;
  font-weight: 400;
}

.acc_services {
  background-color: fffaee;
  width: 100%;
  display: block;
}

.tax_section span {
  color: #000000;
  font-size: 14px;
}

.tax_detail img {
  display: none;
  width: 40px;
  height: 40px;
}

.ca_footer hr {
  opacity: 1;
}

.font_500 {
  font-weight: 500 !important;
}

.font_40 {
  font-size: 40px;
}

.font_snasrif {
  font-family: "sans-serif";
}

.color_black {
  color: #000 !important;
}

.bg_imaage_shape2 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.bg_imaage_shape2 svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 147px;
  transform: translateX(-50%) rotateY(180deg);
}

.openbtn {
  padding: 2px 0px;
  width: 40px;
  height: 40px;
  position: relative;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.openbtn span {
  display: inline-block;
  position: absolute;
  width: 60%;
  left: 8px;
  height: 4px;
  border-radius: 2px;
  background: #000;
  transition: all 0.4s;
}

.openbtn span:nth-of-type(1) {
  top: 12px;
}

.openbtn span:nth-of-type(2) {
  top: 17.5px;
}

.openbtn span:nth-of-type(3) {
  top: 23px;
}

/* .openbtn:not(.collapsed) span:nth-of-type(1) {
  top: 12px;
  left: 8px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}

.openbtn:not(.collapsed) span:nth-of-type(2) {
  opacity: 0;
}

.openbtn:not(.collapsed) span:nth-of-type(3) {
  top: 24px;
  left: 8px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
} */
.contact-section {
  background-color: #fffcf4;
}
.contact-section h1 {
  color: var(--blue);
  font-family: "Suwannaphum";
  text-align: center !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 1rem !important;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.contact-section h3 {
  font-family: "Suwannaphum";
  text-align: center !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 1rem !important;
  color: var(--blue);
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
}

.contact-section p {
  line-height: 1.5;
  font-family: "Suwannaphum";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 1rem !important;
  color: var(--blue);
  font-size: 16px;
}

.custom_card {
  background-color: #eeede8;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
}
.error-message {
  color: red;
  font-size: 0.9rem;
  display: none;
}
.iti {
  display: block;
}
.custom-dropdown {
  position: relative;
  display: block;
  border: 1.5px solid black;
  border-radius: 5px;
}

.custom-dropdown-button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-dropdown-item {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.custom-dropdown-item:hover {
  background-color: #f1f1f1;
}
.arrow {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px; /* Adjust as needed */
  color: #000; /* Adjust color as needed */
}
.text-lg-justify {
  text-align: justify;
}

.whatWedoImgs {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.whatWedoImgs > img {
  width: 210px;
}
.helpSecBG {
  background-color: #eae8dd;
}
.w-60 {
  width: 60%;
}
